<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for product in products %}
    <div>
    <h2>{{ product.name }}</h2>
    <p>Price: ${{ product.price }}</p>
    <p>Created on: {{ product.created_at|date:"F j, Y" }}</p>

    {% if product.price > 20 %}
        <p><strong>This item is more expensive than $20</strong></p>
    {% else %}
        <p><strong>This item is affordable!</strong></p>
    {% endif %}
    </div>
    {% endfor %}

    <p>{{ "Some example text"|title }}</p>
</body>
</html>